02全钢手持/Mesnac.AppMES/Mesnac.Semis/Web References/cn.linglong.podevapp/SI_DBMES_OUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="http://ll.com/DBMES" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="SI_DBMES_OUT" targetNamespace="http://ll.com/DBMES" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_SI_DBMES_OUT" />
  <wsdl:types>
    <xsd:schema xmlns="http://ll.com/DBMES" targetNamespace="http://ll.com/DBMES" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="MT_DBMES_OUT" type="p1:DT_DBMES_in" />
      <xsd:complexType name="DT_Rphead">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">eeacaba1905511ebb3a90000009676f2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="MSGID" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d75436311e3a0ab606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUSID" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d76436311e39cc2606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="BUSTYP" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d77436311e38a9c606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TLDID" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d78436311e38b55606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="TLGNAM" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d79436311e390da606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="DTSEND" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7a436311e3c3d9606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SENDER" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7b436311e38b4d606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="RECIEVER" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7c436311e391ef606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Dummy1" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7d436311e3ba52606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Dummy2" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7e436311e3a6d7606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Dummy3" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d7f436311e387ee606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Dummy4" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">d4263d80436311e391c5606c66d0ca15</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_DBMES_in">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">ba99cada905711eb94e10000009676f2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Rphead" type="p1:DT_Rphead">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ba8a78bf905711eba037b4a9fcfbf09c</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MaterialAllocations" type="p1:DT_GoodsMovements_in">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">ba8c1058905711eb9b75b4a9fcfbf09c</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DT_GoodsMovements_in">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">660e2547905711ebb1b80000009676f2</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MaterialAllocation">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">b632fca646bd11e3bf9dcc52af797e60</xsd:appinfo>
            </xsd:annotation>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="MovHeader">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b63086c346bd11e381c2cc52af797e60</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="DocDate" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086bb46bd11e3a982cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="PostDate" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086bc46bd11e39c7acc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="HeadTXT" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086bd46bd11e3bd28cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy1" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086bf46bd11e3bb7ecc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy2" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c046bd11e3bdb1cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy3" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c146bd11e383b1cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy4" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c246bd11e38198cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                <xsd:element minOccurs="0" maxOccurs="unbounded" name="MoveItem">
                  <xsd:annotation>
                    <xsd:appinfo source="http://sap.com/xi/TextID">b632fca546bd11e3bdc8cc52af797e60</xsd:appinfo>
                  </xsd:annotation>
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="MovType" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c446bd11e3a45acc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="MaterialCode" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c546bd11e3a650cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="PlantFrom" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c646bd11e3c312cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="StorageLoc" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b63086c746bd11e3c67ccc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Batch" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">db98ab63905611eb9012b4a9fcfbf09c</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="Qty" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fc8b46bd11e3b236cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element name="Unit" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fc8c46bd11e3a148cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RecPlant" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fc9246bd11e3b4cecc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="RecStoLoc" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fc9346bd11e3ba9acc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy1" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fca146bd11e3cf16cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy2" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fca246bd11e3ca95cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy3" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fca346bd11e390facc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                      <xsd:element minOccurs="0" name="Dummy4" type="xsd:string">
                        <xsd:annotation>
                          <xsd:appinfo source="http://sap.com/xi/TextID">b632fca446bd11e39151cc52af797e60</xsd:appinfo>
                        </xsd:annotation>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MT_DBMES_OUT">
    <wsdl:documentation />
    <wsdl:part name="MT_DBMES_OUT" element="p1:MT_DBMES_OUT" />
  </wsdl:message>
  <wsdl:portType name="SI_DBMES_OUT">
    <wsdl:documentation />
    <wsdl:operation name="SI_DBMES_OUT">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_SI_DBMES_OUT" />
      </wsp:Policy>
      <wsdl:input message="p1:MT_DBMES_OUT" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SI_DBMES_OUTBinding" type="p1:SI_DBMES_OUT">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="SI_DBMES_OUT">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SI_DBMES_OUTService">
    <wsdl:port name="HTTP_Port" binding="p1:SI_DBMES_OUTBinding">
      <address location="http://poprdapp1.linglong.cn:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DBMES_Soap_out&amp;receiverParty=&amp;receiverService=&amp;interface=SI_DBMES_OUT&amp;interfaceNamespace=http%3A%2F%2Fll.com%2FDBMES" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:SI_DBMES_OUTBinding">
      <address location="https://poprdapp1.linglong.cn:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DBMES_Soap_out&amp;receiverParty=&amp;receiverService=&amp;interface=SI_DBMES_OUT&amp;interfaceNamespace=http%3A%2F%2Fll.com%2FDBMES" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>